<!--<div>
<p>
  Send <strong>$5</strong> to Alex
</p>  
</div>-->

<!--<form action="/charges" method="post" id="payment-form">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <div class="form-row">
    <label for="card-element">
      Credit or debit card
    </label>
    <div id="card-element">
       a Stripe Element will be inserted here.
    </div>

    Used to display form errors
    <div id="card-errors" role="alert"></div>
    <button id="payment-btn">Submit Payment</button>
  </div>
</form>-->

<body>
  <form action="/charges" method="POST" id="payment-form">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <input type="hidden" name="token" />
    <div class="group">
      <label>
        <span>Email</span>
        <input name="cardholder-email" class="field" placeholder="example@example.com" />
      </label>
      <label>
        <span>Card number</span>
        <div id="card-number-element" class="field"></div>
      </label>
      <label>
        <span>Expiry date</span>
        <div id="card-expiry-element" class="field"></div>
      </label>
      <label>
        <span>CVC</span>
        <div id="card-cvc-element" class="field"></div>
      </label>
      <label>
        <span>Postal code</span>
        <input id="postal-code" name="postal_code" class="field" placeholder="90210" />
      </label>
    </div>
    <button type="submit">Pay $5</button>
    <div class="outcome">
      <div class="error"></div>
      <div class="success">
        Success! Your Stripe token is <span class="token"></span>
      </div>
    </div>
  </form>
</body>